{% extends "base.html" %}
{% block content %}
    
<section class="section-padding section-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12">
                <h3 class="mb-4 pb-2">Edit Destination Value</h3>
            </div>

            <div class="col-lg-12 col-12">
                <form action="{{ url_for('edit_destinationvalue', slno=data.slno) }}" method="post" class="custom-form contact-form" role="form">
                    <div class="row">
    
                        <div class="col-lg-12 col-12">
                            <div class="form-floating">
                                <input type="text" name="driverid" id="driverid" class="form-control" value="{{ data.driverid }}">
                                <label for="driverid">Driver ID</label>
                            </div>
                        </div>

                        <div class="col-lg-12 col-12">
                            <div class="form-floating">
                                <input type="number" name="resourceid" id="resourceid" class="form-control" value="{{ data.resourceid }}">
                                <label for="resourceid">Resource ID</label>
                            </div>
                        </div>

                        <div class="col-lg-12 col-12">
                            <div class="form-floating">
                                <input type="text" name="destinationaccount" id="destinationaccount" class="form-control" value="{{ data.destinationaccount }}">
                                <label for="destinationaccount">Destination Account</label>
                            </div>
                        </div>

                        <div class="col-lg-12 col-12">
                            <div class="form-floating">
                                <input type="number" name="driverqtyunit" id="driverqtyunit" class="form-control" value="{{ data.driverqtyunit }}">
                                <label for="driverqtyunit">Driver Quantity Unit</label>
                            </div>
                        </div>

                        <div class="col-lg-12 col-12">
                            <div class="form-floating">
                                <input type="number" name="planid" id="planid" class="form-control" value="{{ data.planid }}">
                                <label for="planid">Plan ID</label>
                            </div>
                        </div>

                        <div class="col-lg-4 col-12 ms-auto">
                            <button type="submit" class="form-control">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
